*{
   font-family: "Poppins", serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body 
{
background-color: #000;
color: #fff;
}
.container
{
  margin: 0px 10%;
}
header
{
 
  height: 100vh;
  width: 100%;
 position: relative;
 overflow: hidden;
}
#header-video
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.nav
{
  display: flex ;
  justify-content:  space-between  ;
  align-items:  center;
}
.nav ul li
{
  display:  inline-block;
 margin-left:   15px;
  list-style: none;
  font-size: 15px;
  transition:0.3s ;
}
.nav i   
{
  display: none;
}
.nav ul li a
{
  text-decoration:  none  ;
  color: #FFF;
  font-weight: 300;
  
}
.nav ul li a:hover
{
  color:#209e9e ;
 
}
.nav ul li:hover{
   transform: scale(1.2);
}

.nav-btn
{
  background-color:transparent   ;
  border: 1px solid #fff ;
  padding:  5px 12px;
  border-radius: 6px;
  color: #fff ;
  cursor: pointer;
  transition: 0.5s;
}
.nav-btn:hover
{
  transform: scale(0.9);
  background-color: #209e9e;
  color: #FFF;

}
.nav h1
{
color: #fff;
cursor: pointer;
}
.nav h1 span
{
  color: #fff;
}
section 
{
  position: relative;
}
section h1
{
  text-align: center;
  color: #fff;
  font-size: 35px;
  margin-top: 10%;
  font-weight: 500;
}
section p
{
  font-size: 13px;
  text-align: center;
  color: #FFF;
  font-weight: 200;
  margin: 0 135px;
}
.section-btn
{
  background-color: #209e9e;
  color: #FFF;
  border: none;
  padding: 6px 15px;
  font-size: 17px;
  font-weight: 200;
  border-radius: 20px;
  font-weight: 400;
   transition: transform 0.3s;  
}
.btn-container
{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 25px;
}
.pop-up
{
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color:#209e9e;
  position: absolute;
  display: flex;
  justify-content: center ;
  margin: 0 200px;
  border-radius: 10px;
  top: 0;
  flex-direction: column;
  display: none;
  color: #000;

}
.visible
{
  display: block;
}
.pop-up i
{
  cursor: pointer;
}
.pop-up h3
{
  font-weight: 300;
  padding-bottom: 10PX;
  text-align: center;
}
.pop-up img 
{
  height: 150px;
  width: 150px;
}
.pop-input
{
  position: relative;
  margin-bottom: -40px;

}
.pop-input input, .pop-input button
{
 padding: 10px 40px;
 border: none;
 font-size: 15px;
 font-weight: 200;
}
.pop-input button
{
  background-color: #000;
  color: #fff;
}
.section-btn-2
{
  background-color: transparent;
  color: #209e9e;
  border: 1px solid #209e9e;
  padding: 6px 15px;
  font-size: 17px;
  font-weight: 200;
  border-radius: 20px;
  font-weight: 400;
  transition: transform 0.3s;
}
.section-btn:hover, .section-btn-2:hover
{
  transform: scale(1.1);
}
.icons
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  gap: 10px;
  font-size: 25px;
  color: #FFF;
  cursor: pointer;
}
.icons i
{
  transition: 0.5s;
}
.icons i:hover
{
  transform: translateY(-10px) scale(1.1);
  color: #209e9e;
  opacity: 0.8;
}


/*hero-section*/


.hero-section
{
  display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.hero-img
{
 flex-basis: 35%;
}
.hero-img img
{
  object-fit: cover;
  height: 300px;
  width: 300px;
  border-radius: 15px;
  transition: 0.5s;
}
.hero-img img:hover
{
  transform: scale(1.1);
}
.hero-text
{
  color: #fff;
  flex-basis: 60%;
  font-weight: 300;
  text-align: justify;
  font-size: 10px;
}
.hero-text h3
{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 12px;
}
.hero-btn
{
  background-color:#209e9e ;
  color: #FFF;
  padding: 6px 22px;
  border: none;
  margin-top: 12px;
  transition: 0.3s;
  border-radius: 50px;
}
.hero-btn:hover
{
  transform: scale(1.1);
}


/*hero-section-2*/


.hero-section-2
{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  
}
.hero-text-1
{
  flex-basis: 50%;
  font-size: 48px;
  font-weight: 450;
  color: #fff;
}
.hero-text-2
{
 flex-basis: 50%;
 margin-top: 17px;
 font-size: 20px;
 color: #fff;
}
.hero-btn-2
{
  background-color:#209e9e;
  color: #FFF;
  border: none;
  padding: 6px 22px;
  border-radius: 50px;
  font-size: 17px;
  margin-top: 15px;
  transition: 0.3s;
}
.hero-btn-2:hover
{
  transform: scale(1.1);
}


/*hero-section-3*/


.hero-section-3
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  
}
.hero-section-3 p
{
   font-size: 10px;
   margin-right: 30px;
   font-weight: 200;
}
.hero-section-3 h3
{
  font-size: 35px;
  font-weight: 500;
}
.hero-text-3
{
  flex-basis: 35%;
  color: #fff;
}
.hero-text-4
{
  flex-basis:60%;
}
.hero-boxes
{
  font-size: 10px;
  padding: 25px;
  background-color:#209e9e ;
  margin-bottom: 15px;
  color: #FFF;
  font-weight: 300;
}
.hero-text-3 button
{
  padding: 6px 22px;
  border-radius: 50px;
  border: none;
  margin-top: 15px;
  background-color:#209e9e ;
  color: #FFF;
  transition: 0.3s;
  cursor: pointer ;
  font-weight: 500;
}
.hero-text-3 button:hover
{
  transform: scale(1.1);
}

/*hero-section-4*/


.sub-title
{
  color: #fff;
}
.hero-section-4
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;

}
.sub-title
{
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  font-size: 40px;
}
.hero-section-4 div
{
  flex-basis: 32%;
  background-color: #209e9e;
  border-radius: 10px;
  color: #FFF;
  padding: 40px;
  transition: 0.3s  ;

}
.hero-section-4 div img
{
  height: 100px;
  width: 80px;


}
.hero-section-4 div p
{
  font-size: 13px;
  font-weight: 300;
}
.hero-section-4 div h2
{
  font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;    
}
.hero-section-4 div a 
{
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
.hero-section-4 div:hover
{
 transform: scale(1.1);
}

/*hero-section-5*/

.hero-section-5
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section-5-text
{
  flex-basis: 60%;
}
.hero-section-5-text h1 
{
  font-size: 35px;
  font-weight: 600;
}
.hero-section-5-text p 
{
  font-size: 10px;
  font-weight: 300;
  text-align: justify;
}
.hero-section-5-img
{
  flex-basis: 35%;
}
.hero-section-5-img img 
{
  height: 400px;
  width: 400px;
}


/*Footer*/


.footer
{
  background-color: #transparent;
  border-top: 1px solid #209e9e;
}
.footer-section
{
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 30px;
}
.footer-sec-1
{
  flex-basis: 40%;
}
.footer-sec-1 h1 
{
  font-weight: 500;
  font-size: 40px;
}
.footer-sec-1 p
{
  font-weight: 200;
  font-size: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.footer-sec-1 input 
{
  padding: 10px 20px;
  border: none;
}
.footer-sec-1 button
{
  padding: 10px 153px;
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: 0.5s;
}
.footer-sec-1 button:hover
{
 background-color:#209e9e;
 color: fff;
}
.social-icon
{
  color: #fff;
}
.social-icon a i:hover
{
  transform: translateY(-10px);
  color:#209e9e ;
}
.social-icon a 
{
  text-decoration: none;
}
.social-icon a i 
{
  color: #fff;
  font-size: 25PX;
  margin-right: 10PX;
  transition: 0.5s;
}

.footer-sec-2
{
  flex-basis: 20%;
}
.footer-sec-2 ul  
{
  margin-top: 50px;
}
.footer-sec-2 ul li  
{
  list-style: none;
  margin-top: 15px;
  transition: 0.3s;
}
.footer-sec-2 ul li a  
{
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.footer-sec-2 ul li a:hover
{
  color: #209e9e ;
  }
.footer-sec-2 ul li:hover
{
  transform: scale(1.1);

}
.footer-sec-2 h1  
{
  
  font-weight: 500;
}
.footer-sec-3
{
  flex-basis: 20%;
}
.footer-sec-3 h1  
{
  font-weight: 500;
}
.footer-sec-3 p  
{
  font-size: 12px;
  margin-top: 15px;
}
.footer-sec-3 p i 
{
  color: #209e9e;
}
.copyright
{
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
}
.copyright i 
{
  color:#209e9e ;
} 


@media only screen and (max-width: 600px){


.container
{
  margin: 0px 0%;
  position: relative;
}
header
{
  position: relative;
}
.nav h1
{
color: #fff;
cursor: pointer;
font-size: 28px;
}
.nav 
{
  margin-top: 10px;
  margin-bottom: 10px ;
  position: relative;
}
header section

{
  z-index: -1;
}
.nav ul
{
  
  position: fixed ;
  right: -200px;
  top: 0;
  background-color:#209e9e ;
  padding-top: 50px;
  width: 200px;
  height: 100vh;
  z-index: 1;
}
.nav ul li
{
  display: block;
  margin: 25px;
}
.nav ul li a {
color: black;
}
.nav ul .fa-solid
{
  position: absolute;
  top: 25px;
  left: 42px;
  cursor: pointer;
  color: black;
}
.nav button
{
  display: none;
}
.nav i   
{
  display: block;
  font-size: 30px;
}

section h1
{
  text-align: center;
  color: #fff;
  font-size: 25px;
  margin-top: 50%;
  font-weight: 500;
}
section p  
{
  font-size: 10px;
  color: #FFF;
  font-weight: 200;
  margin: 0;
}
.hero-section-3
{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.hero-img
{
 flex-basis: 100%;
}
.hero-text
{
  color: #fff;
  flex-basis: 100%;
  font-weight: 300;
  text-align: justify;
  font-size: 10px;
}
.hero-text h3 
{
  font-size: 35px;
  font-weight: 400;
  margin-top: 15px;
}
.hero-text p 
{
  font-weight: 200;
}
.hero-btn
{
  background-color: #209e9e ;
  color: #fff;
  padding: 6px 22px;
  border: none;
  margin-top: 15px;
  transition: 0.3s;
  border-radius: 50px;
}

/*hero-section-2*/


.hero-section-2
{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-direction: column;
  
}
.hero-text-1
{
  flex-basis: 100%;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}
.hero-text-2
{
 flex-basis: 100%;
 margin-top: 17px;
 font-size: 20px;
 color: #fff;
}
.hero-section-3
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  
}
.hero-section-3 p
{
   font-size: 10px;
   margin-right: 30px;
   font-weight: 200;
   
}
.hero-section-3 h3
{
  font-size: 35px;
  font-weight: 500;
}
.hero-text-3 button
{
  padding: 6px 22px;
  border-radius: 50px;
  border: none;
  margin-top: 15px;
  background-color: #209e9e ;
  color: #fff;
  transition: 0.3s;
  cursor: pointer ;
  font-weight: 500;
  margin-bottom: 30px;
}
.hero-text-3
{
  flex-basis: 100%;
  color: #fff;
}
.hero-text-4
{
  flex-basis:100%;
}
.sub-title
{
  text-align: left;
  margin-top: 30px;
  font-weight: 600;
  font-size: 40px;
}
.hero-section-4
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  flex-direction: column;
}
.hero-section-4 div
{
  flex-basis: 32%;
  background-color: #209e9e;
  border-radius: 10px;
  color: #fff;
  padding: 40px;
  transition: 0.3s  ;
  margin-bottom: 15px;

}
.hero-section-4 div img
{
  height: 100px;
  width: 100px;
}
.hero-section-4 div p
{
  font-size: 15px;
  font-weight: 400;
}
.hero-section-4 div h2
{
  font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;    
}
.hero-section-5
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.hero-section-5-text
{
  flex-basis: 100%;
}
.hero-section-5-text h1 
{
  font-size: 40px;
  font-weight: 500;
}
.hero-section-5-text p 
{
  font-size: 10px;
  font-weight: 300;
  text-align: justify;
}
.hero-section-5-img
{
  flex-basis: 100%;
}
.hero-section-5-img img 
{
  height: 300px;
  width: 300px;
}
.footer-sec-2
{
  flex-basis: 100%;
  margin-top: 40px;
}
.footer-sec-2 ul  
{
  margin-top: 30px;
}
.footer-sec-3
{
  margin-top: 30px;
}
.copyright
{
  text-align: center;
  margin-top: 10px;
  padding-bottom: 0px;
  font-size: 15px;
}













.hero-section-5
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.footer-section
{
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 30px;
  flex-direction: column;
}
.footer-sec-1 input 
{
  padding: 10px 20px;
  border: none;
  width: 100%;
}
.footer-sec-1 button
{
  padding: 10px auto;
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: 0.5s;
  width: 100%;
}



}
